<template lang="pug">
	section
		h1 404
		p {{ text | localize }}
</template>

<script>
	export default {
		name: '404',
		data () {
			return {
				text: {
					en: 'Sorry dude, couldn\'t find that page.',
					cat: 'Ho sento, no s\'ha pogut trobar aquesta pàgina.'
				}
			};
		}
	};
</script>

<style lang="scss" scoped>
	section { text-align: center; }
</style>
