<template lang="pug">
	section
		h1 {{ heading | localize }}
		p(v-for="text in texts", :key="text.en") {{ text | localize }}
</template>

<script>
	export default {
		name: 'Privacy',
		data () {
			return {
				heading: {
					en: 'Privacy Policy',
					cat: 'Política de Privacitat'
				},
				texts: [
					{
						en: `This site is nothing more than static assets.  Your search
						queries are sent to Ultimate Guitar through a proxy layer, so all
						traffic to their site is anonymous.`,
						cat: `Aquest lloc no és res més que actiu estàtic. Les consultes de
						cerca s’envien a Ultimate Guitar mitjançant una capa de proxy, de
						manera que tot el trànsit al seu lloc és anònim.`
					},
					{
						en: `There are no analytics, tracking, ads, or any of that dystopian
						awfulness anywhere on this site.  Feel safe knowing you're in a
						decent corner of the web.`,
						cat: `En aquest lloc no hi ha cap analítica, cap seguiment,
						publicitat ni cap horror distòpic. Sentin-te segur si tens un racó
						decent a Internet.`
					}
				]
			};
		}
	};
</script>
