<template lang="pug">
	section.search-results
		div(v-if="haveResults")
			TabList(:tab-results="results")
			p.results-total ({{ results.length }} {{ resultsText | localize }})
		div.loading-wrapper.flex.column.centered(v-else-if="pendingResults")
			MoonLoader(:color="textColorFromTheme")
			p(v-if="userLanguage === 'cat'")
				| Cercant...
				br
				| (Això pot trigar una mica, segons quants resultats hi hagi.)
			p(v-else-if="!beenLongTime")
				| Searching...
				br
				| This might take a while, depending on how many results there are
			p(v-else)
				| Searching...
				br
				| Dang dude, what are you searching for?  We've already found
				|  {{ resultsFetched }} tabs!  Yeesh.
		div.no-results-wrapper(v-else): p {{ nothingFoundText | localize }}
</template>

<script>
	import { getTabs } from '~/modules/ug';
	import log from '~/modules/log';

	const LONG_TIME = 3000;

	const MoonLoader = async () => await import('vue-spinner/src/MoonLoader');
	const TabList = async () => await import('~/components/TabList');

	export default {
		name: 'SearchResults',
		components: { MoonLoader, TabList },
		data () {
			return {
				beenLongTime: false,
				nothingFoundText: {
					cat: 'No s\'ha trobat res!',
					en: 'Nothing found!'
				},
				pendingResults: true,
				results: [],
				resultsText: {
					cat: 'Resultats',
					en: 'Results'
				}
			};
		},
		computed: {
			cachedSearch () { return this.$store.state.search; },
			haveResults () { return !this.pendingResults && this.results.length > 0; },
			resultsFetched () { return this.$store.state.search.resultsFetched; },
			terms () { return this.$route.params.terms; },
			userLanguage () { return this.$store.state.user.language; },
			userTheme () { return this.$store.state.user.theme.name.toLowerCase(); },
			textColorFromTheme () {
				if (this.userTheme === 'light') return '#4d4d4c';

				return '#eff1f5';
			}
		},
		watch: {
			terms (val) { if (val) this.checkTabs(); }
		},
		mounted () {
			this.checkTabs();
		},
		methods: {
			checkTabs () {
				if (this.terms === this.cachedSearch.terms) this.fetchTabsFromCache();
				else this.fetchTabsFromSite();
			},
			fetchTabsFromCache () {
				while (this.results.length > 0) this.results.pop();
				this.cachedSearch.results.forEach(result => this.results.push(result));
				this.pendingResults = false;
			},
			async fetchTabsFromSite () {
				if (!this.terms) {
					this.pendingResults = false;

					return;
				}

				this.pendingResults = true;

				const timer = setTimeout(() => {
					this.beenLongTime = true;
				}, LONG_TIME);

				try {
					const tabResults = await getTabs(this.terms);
					while (this.results.length > 0) this.results.pop();

					const artistCounts = tabResults.reduce((counts, tab) => {
						if (typeof counts[tab.artist] === 'undefined') counts[tab.artist] = tab.votes;
						else counts[tab.artist] += tab.votes;

						return counts;
					}, {});

					const polishedResults = tabResults
						.filter((tab, i, arr) => arr.map(t => t.url).indexOf(tab.url) === i)
						.sort((a, b) => {
							if (a.artist !== b.artist) {
								const [aCount, bCount] = [a.artist, b.artist].map(artist => artistCounts[artist]);

								if (aCount === bCount) {
									if (a.artist > b.artist) return 1;
									if (a.artist < b.artist) return -1;

									return 0;
								}

								if (aCount > bCount) return -1;
								if (aCount < bCount) return 1;

								return 0;
							}

							if (a.type !== b.type) {
								if (a.type === 'Chords') return -1;
								if (b.type === 'Chords') return 1;
								if (a.type === 'Tabs') return -1;
								if (b.type === 'Tabs') return 1;
								if (a.type > b.type) return 1;
								if (a.type < b.type) return -1;

								return 0;
							}

							if (a.title !== b.title) {
								if (a.title > b.title) return 1;
								if (a.title < b.title) return -1;

								return 0;
							}

							const [aTotal, bTotal] = [a, b].map(n => n.rating * n.votes);
							if (aTotal > bTotal) return -1;
							if (aTotal < bTotal) return 1;

							return 0;
						});

					polishedResults.forEach(result => this.results.push(result));
					this.$store.commit('setSearchResults', { terms: this.terms, results: polishedResults });
				} catch (err) {
					log.error(err);
				} finally {
					this.pendingResults = false;
					clearTimeout(timer);
				}
			}
		}
	};
</script>

<style lang="scss" scoped>
	section > div {
		width: 100%;

		&.loading-wrapper {
			padding-top: 3rem;
			text-align: center;
		}

		&.no-results-wrapper { text-align: center; }
	}

	p.results-total {
		font-style: italic;
		text-align: center;
	}
</style>
