<template lang="pug">
	section
		div(v-if="haveResults")
			div.heading
				p.details(v-show="showDetails")
					span.title {{ tab.title }}
					span.artist {{ tab.artist }}
				form.transpose-controls(v-if="isChords")
					label
						strong Transpose
						input(v-model.number="transposeAmount", type="number")
			hr
			pre {{ formattedContent }}
		div.loading-wrapper.flex.column.centered(v-else-if="pendingResults")
			MoonLoader(color="#000")
			p {{ loadingText | localize }}
		div.no-tab(v-else)
			p {{ notFoundText | localize }}
</template>

<script>
	import { fetchTab } from '~/modules/ug';
	import log from '~/modules/log';
	import { transpose } from 'chord-transposer';

	const NUMBER_OF_MUSICAL_NOTES = 12;

	const MoonLoader = async () => await import('vue-spinner/src/MoonLoader');

	export default {
		name: 'Tab',
		components: { MoonLoader },
		data () {
			return {
				loadingText: {
					cat: 'Carregant...',
					en: 'Loading...'
				},
				notFoundText: {
					cat: 'No s\'ha trobat la tauleta!',
					en: 'Tab not found!'
				},
				pendingResults: true,
				tab: {
					artist: null,
					title: null,
					content: null
				},
				transposeAmount: 0
			};
		},
		computed: {
			cachedTab () { return this.$store.state.tab; },
			formattedContent () {
				if (!this.tab.content) return '';

				const formattedContent = this.tab.content
					.replace(/\[\/?ch\]/gu, '')
					.replace(/\[\/?tab\]/gu, '')
					.replace(/\[\/?Link\]/gu, '')
					.replace(/\|(?<char>[^\s])/gu, match => match.split('').join(' '));

				if (!this.isChords) return formattedContent;

				try {
					const transposedContent = transpose(formattedContent)
						.up(this.normalizedTransposeAmount);

					return transposedContent;
				} catch (err) {
					log.error(err, 'Something went wrong and the tab couldn\'t be transposed.  Sorry about that!  Maybe try a different tab?');

					return formattedContent;
				}
			},
			haveResults () {
				return !this.pendingResults && this.tab.content;
			},
			isChords () { return (/chords-[^-]*$/u).test(this.$route.path); },
			normalizedTransposeAmount () { return this.transposeAmount % NUMBER_OF_MUSICAL_NOTES; },
			showDetails () {
				return this.tab.artist && this.tab.title;
			},
			userLanguage () { return this.$store.state.user.language; }
		},
		mounted () {
			if (this.$route.path === this.cachedTab.path) this.loadTabFromCache();
			else this.loadTabFromSite();
		},
		methods: {
			loadTabFromCache () {
				for (const key in this.tab) this.tab[key] = this.cachedTab[key];
				this.pendingResults = false;
			},
			async loadTabFromSite () {
				try {
					const { artist, title, content } = await fetchTab(this.$route.path);
					this.tab.artist = artist;
					this.tab.title = title;
					this.tab.content = content;
					this.$store.commit('setTab', { ...this.tab, path: this.$route.path });
				} catch (err) {
					log.error(err);
				} finally {
					this.pendingResults = false;
				}
			}
		}
	};
</script>

<style lang="scss" scoped>
	div.heading {
		display: flex;
		justify-content: space-between;
		align-items: center;

		p.details {
			span.title {
				display: block;
				font-size: 2em;
				font-weight: 600;
			}

			span.artist {
				display: block;
				font-size: 1.2em;
			}
		}

		form.transpose-controls label {
			strong { display: block; }

			input {
				border: 1px solid var(--text-color);
			}
		}
	}

	div.no-tab { text-align: center; }

	pre {
		max-width: 100vw;
		overflow-x: auto;
		cursor: text;
	}
</style>
