<template lang="pug">
	div.container
		div.header
			span.cell.artist Artist
			span.cell.type Type
			span.cell.title Title
			span.cell.rating Rating
		div(v-for="(tab, i) in tabResults", :key="tab.url", :class="getRowClasses(i)")
			div.cell.artist: span(v-show="showArtist(i)") {{ tab.artist }}
			div.cell.type: span(v-show="showType(i)") {{ tab.type }}
			div.cell.title: router-link(:to="trimUgUrl(tab.url)") {{ tab.title }}
			div.cell.rating: span(v-show="tab.rating > 0") {{ tab.rating | single-point }}
</template>

<script>
	const SPLIT_URL_INDEX_TO_KEEP = 2;

	export default {
		name: 'TabList',
		props: {
			tabResults: {
				type: Array,
				required: true,
				default: () => []
			}
		},
		methods: {
			getRowClasses (i) {
				const classes = ['row'];

				if (this.showArtist(i)) classes.push('artist-header');
				else if (this.showType(i)) classes.push('type-header');

				return classes.join(' ');
			},
			showArtist (i) {
				if (i === 0) return true;

				return this.tabResults[i].artist !== this.tabResults[i - 1].artist;
			},
			showType (i) {
				if (i === 0) return true;
				if (this.showArtist(i)) return true;

				return this.tabResults[i].type !== this.tabResults[i - 1].type;
			},
			// eslint-disable-next-line prefer-template
			trimUgUrl: url => '/' + url
				.split('/')
				.filter((s, i) => i > SPLIT_URL_INDEX_TO_KEEP)
				.join('/')
		}
	};
</script>

<style lang="scss" scoped>
	div.container {
		line-height: 2rem;

		div.header,
		div.row {
			display: flex;
			justify-content: space-between;

			& > .cell {
				flex-basis: 10rem;

				&.artist { font-weight: 600; }

				&.title { flex-grow: 1; }

				&.rating { text-align: center; }
			}
		}

		div.header {
			font-size: 1.2rem;
			font-weight: 600;
			text-transform: uppercase;
			margin-bottom: 0.5rem;
		}

		div.row {
			&:nth-child(2) { margin-top: 0 !important; }

			&.artist-header { margin-top: 5rem; }

			&.type-header { margin-top: 3rem; }
		}
	}
</style>
