doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width")
		meta(name="description", content="A simple site for finding guitar tabs and chords")
		title tabicat
		link(rel="preload", href="~/scss/index.scss", as="style")
		link(rel="preload", href="~/index.js", as="script")
		link(rel="stylesheet", href="~/scss/index.scss", media="screen")
	body
		div#root
		noscript Hey!  Looks like you've got JavaScript disabled.  That's cool, and
			|  you're smart for having it disabled by default.  Unfortunately, though,
			|  this app is completely run in the browser and depends on JavaScript to
			|  operate.  So, if you want to use the site you'll either need to
			|  whitelist this site or enable JavaScript.
		script(src="~/index.js", defer)
